body{
    overflow: hidden;
    color: white;
}

.container-fluid{
    margin-right: 0px;
    margin-left: 0px;
}

/* header related components */
#headerSect{
    border-bottom: 1px solid #d3d3d3;
    background-color: #d3d3d3;
    height: 10vh;
}

.contactHead{
    border-right: 1px solid white;
}

img {
    width: 60px;
    height: 60px;
    /* border: 1px solid red; */
}

.material-icons.settings{
    font-size: 30px;
    color: #8b4513;
}
span{
    margin-left: 45px;
}
/* message related components */
#contentBox {
    height: 100vmax;
    margin: 0px;
    padding: 0px;
}
#content{
    height: 80vh;
    margin: 0px;
    background-color: #2f4f4f;
}

#controls{
    height: 10vh;
    margin: 0px;
    background-color: #d3d3d3;
}

/* contacts related components */
#contacts{
    background-color: #ffff;
}

